
  
  .form-content{
    background: linear-gradient(
      50deg,
      rgb(244, 214, 189) 50%,
      rgba(201, 157, 131, 0.1)
      ),
      url(../imagenes/muestra\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 400px;
    border-radius: 25px;
  
  }
    
  .form-content h2{
    color: #915939;
    font-size: 40px;
    margin-bottom: 25px;
  } 
  
  form{ 
    display: flex;
    flex-direction: column;
    width: 20;
  }
  
  label{
    font-size: 17px;
    color: #915939;
    margin-bottom: 10px;
    
  }
  
  input{
    padding: 17px 14px;
    background-color: #da8452;
    border: 0;
    font-size: 15px;
    color: aliceblue;
    margin-bottom: 20px;
    border-radius: 10px;
  }
    
  :focus{
    outline: 1px solid #915939 ;
  }

  