
*{
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* modificacion de tamaño del carrusel */
.carousel-inner {
  width: 100px;
  height: 700px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  
}


.caja{
  margin: 6px;
  padding: 2px;
  background-color: #ebc3ac;
  height: 60px;
  align-items: center;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem ; 
  width: 90rem;
  gap: 20px;  
  
}

hr{
  width: 60%;
  background-color: #915939;
  height: 10px;
 
}


/*botones*/
.btn{
 font-family: "roboto", sans-serif;
 font-size: 18px;
 font-weight: bold;
 background: linear-gradient(to right, #eaa77f, #d79475);
 width: 200px;
 padding: 20px;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 color: #ffff;
 border-radius: 5px;
 cursor: pointer;
 box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: box-shadow, transform;
 transition-property: box-shadow, transform;

}

.btn:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px rgba(0, 0 ,0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

   


/*NAV*/
/*/Fondo del nav y su tamaño/*/
nav{
background: linear-gradient(to right, #d79475, #915939);
height: 80px;
width: 100%;
}
/*/Modificaciones del logo de delicious coffee/*/
.logo{
position: absolute;
color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}
/*/Organizar la orientacion de los links del Aplicativo[no los links a]/*/
nav ul{
float: right;
margin-right: 20px;
}
/*/Mas modificaciones y demas de los links de delious coffee[no los links a]/*/
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
/*/Aun mas modificaciones de los links de delicious coffee con el cambio de los a /*/
nav ul li a{
color: #fff;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
/*/Modificaciones para la muestra activa del link y su trancición al pasar el cursor/*/
li a.active,li a:hover{
background: #6e4634;
transition: .5s;
}
/*/tres rallas que aparecen en celular[Responsive mobile]/*/
.checkbtn{
font-size: 30px;
color: #fff;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
/*/Adjuntado a checkbtn/*/
#check{
display: none;
}
/*/Responsive tamaño tablet/*/
@media(max-width:950px){
label.logo{
  font-size: 20px;
  padding-left: 50px;
}
nav ul li a{
  font-size: 14px;
}
}
/*/Responsive mobiles y varias tablets/*/
@media(max-width:840px){
.checkbtn{
  display: block;
}ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #c9a46d;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 20px;
}
li a:hove,li a.active{
  background: none;
  color: #c9a46d;
}
#check:checked ~ ul{
  left: 0;
}
}
 
/*footer*/

.logof{
  padding: 0 640px  ;
  
  }
  
  .box .red-social img{
    width:46px
  }
    
   
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background: linear-gradient(to right, #d79475, #915939);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 130px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #000000;
}
.pie-pagina .grupo-2{
    background: linear-gradient(to right, #d79475, #915939);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
  
