@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background: url(../../imagenes/imgReserva/background1.png);
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1001;
    width: 370px;
    text-align: center;
    padding: 5rem 2rem;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
    padding: 0 10px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.space {
    margin-top: 16px;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.pass:hover a {
    text-decoration: underline;
}

.login {
    color: #fff;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.link {
    display: flex;
    cursor: pointer;
    color: #fff;
    margin: 0 0 20px 0;
}

.facebook {
    margin-left: 0px;
    background: linear-gradient(to right, #09ff00 0%, #0ccc45 100%);
    border: 1px solid linear-gradient(to right, #27c407 0%, #2fd60d 100%);
}
.facebook,
.instagram {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
}
.link i {
    font-size: 17px;
}

.link span {
    font-size: 15px;
    margin-left: 8px;

    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.signup {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.signup a {
    color: #37ff00;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
  }

  textarea {
    resize: none;
  }